/* CSS reset */
body{
	position:absolute;
	margin:0;
	padding:0;
	width:100%;
	background-color:#fff;
	background-size:cover;
	background-position:top center;
	}

div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
	margin:0;
	padding:0;
}


html,body {
	margin:0;
	padding:0;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img { 
	border:0;
}
input{
	border:1px solid #b0b0b0;
	padding:3px 5px 4px;
	color:#979797;
	width:190px;
}
address,caption,cite,code,dfn,th,var {
	font-style:normal;
	font-weight:normal;
}
ol,ul {
	list-style:none;
}
caption,th {
	text-align:left;
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}
q:before,q:after {
	content:'';
}
abbr,acronym { border:0;
}

#main_back{
	 clear:both;
	 margin:0 auto;
	 width:100%;
	}

#main_back ul{
	min-width:894px;
	}
	
#main_back ul li{
	margin-top:50px;
	list-style-type:none;
	text-align:center;
	}
